<!DOCTYPE html>
<html lang="en">
<style>
    #hed1{text-align:center}
</style>
<head>
    <meta charset="UTF-8">
    <title>RESERVATION SUCCESS</title>
</head>
<body style ="background-color:violet;">
<font size="20"face ="monotype corsiva"><h3 id="hed1">RESERVATION SUCCESS</h3></font>
<table>
    <tr>
        <td><font size="30">Name</td><td><font size="30">{{name}}</td>
    </tr>
    <tr>
        <td><font size="30">Address</td><td><font size="30">{{address}}</td>
    </tr>
    <tr>
        <td><font size="30">Reservationquota</td><td><font size="30">{{reservationquota}}</td>
    </tr>
    <tr>
        <td><font size="30">Age</td><td><font size="30">{{age}}</td>
    </tr>
    <tr>
        <td><font size="30">Train name</td><td><font size="30">{{trainname}}</td>
    </tr>
    <tr>
        <td><font size="30">Journey from</td><td><font size="30">{{journeyfrom}}</td>
    </tr>
    <tr>
        <td><font size="30">Journey to</td><td><font size="30">{{journeyto}}</td>
    </tr>
    <tr>
        <td><font size="30">Classs</td><td><font size="30">{{classs}}</td>
    </tr>
    <tr>
         <td><font size="30">Journey date</td><td><font size="30">{{journeydate}}</td>
    </tr>



</table>
</body>
</html>