<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <title>RAILWAY TICKET RESERVATION ONLINE</title>
    <style type="text/css">
        label{
             width:400px;
             display:inline-block;
             margin:10px;
        }
        form{
             border-radius:10px;
             background:blue;
             color:white;
             width:1000px;
             padding:30px;
        }
        #submit{
        width:100%;
        }


    </style>
</head>
<body>
<form action="/confirm" method="post">
     <label><font size="6" face="arial black">Name</font></label>
     <input type ="text " name="name"><br>
      <label><font size="6" face="arial black">Address</label>
     <input type ="text " name="address"><br>
     <label><font size="6" face="arial black">Reservartion quota</label>
     <input type ="text " name="reservationquota"><br>
      <label><font size="6" face="arial black">Age</label>
     <input type ="text " name="age"><br>
      <label><font size="6" face="arial black">Train name</label>
     <input type ="text " name="trainname"><br>
      <label><font size="6" face="arial black">Journey from</label>
     <input type ="text " name="journeyfrom"><br>
       <label><font size="6" face="arial black">Journey to</label>
     <input type ="text " name="journeyto"><br>
      <label><font size="6" face="arial black">Classs</label>
     <input type ="text " name="classs"><br>
      <label><font size="6" face="arial black">Journey date</label>
     <input type ="text" name="journeydate"><br>
     <input type="submit" value="Register"id="submit">
</form>
</body>
</html>